###########################
#        MastoFeed        #
###########################


# The Feed Parser, in charge to query the defined feeds and get their posts
feed_parser:
  # [String] Where to store the feeds registry
  storage_file: "storage/feeds.yaml"
  # [String] Language to be used as default
  language_default: "en"
  # [Bool] Overwrite original language with defined default language.
  language_overwrite: False
  # [Bool] Shows an initial line wit the name of the site like "{name}:\n"
  show_name: True
  # [Int] Max summary length
  max_summary_length: 4500